/* Général */
body {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Conteneur principal */
#containerFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem; /* position du bloc dans la page */
    max-height: 77vh; /* viewport height, 1 vh = 1 % de la hauteur de la fenêtre d’affichage */
}

/* Titre */
.h1Forget {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin-bottom: 2rem;
}

p {
    text-align: center;
}

.spanNewPassword {
    color: red;
    font-weight: 600;
}

.spanEmail {
    color: black;
    font-weight: 600;
}

/* Formulaire */
#containerSecond {
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.637);
    width: 30%;
    max-width: 400px;
    margin-top: 4%;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

.divLogin {
    display: flex;
    flex-direction: column;
}

.divLogin label {
    font-weight: 600;
    color: black;
}

.divLogin input {
    padding: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 5px;
}

.divLogin input:focus {
    border-color: #007BFF;
    outline: none; /* ca supprime le contour du focus ajouté par le navigateur. */
}

/* Bouton */
.sendButton{
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 10px;
  }
  
  .sendButton:hover {
      background-color: var(--primary);
      color: white;
      box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  }